Repository nazevedo17/nuse-gym, pull requests merged in 2020-12, with the labels that each got.

#35 Master frontend
  .gitignore
  README.md
  nuse-frontend/.env
  nuse-frontend/.eslintrc
  nuse-frontend/.gitignore
  nuse-frontend/.vscode/settings.json
  nuse-frontend/jsconfig.json
  nuse-frontend/next.config.js
  nuse-frontend/package-lock.json
  nuse-frontend/package.json
  nuse-frontend/public/favicon.ico
  nuse-frontend/public/images/test.jpg
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/en/home.json
  nuse-frontend/public/static/locales/en/login.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/public/static/locales/pt/home.json
  nuse-frontend/public/static/locales/pt/login.json
  nuse-frontend/src/components/layout/Footer.js
  nuse-frontend/src/components/layout/Header.js
  nuse-frontend/src/components/layout/index.js
  nuse-frontend/src/components/pages/login/LoginForm.js
  nuse-frontend/src/components/util/A.js
  nuse-frontend/src/components/util/Img.js
  nuse-frontend/src/components/util/PageTitle.js
  nuse-frontend/src/i18n.js
  nuse-frontend/src/pages/_app.js
  nuse-frontend/src/pages/_document.js
  nuse-frontend/src/pages/index.js
  nuse-frontend/src/pages/login.js
  nuse-frontend/src/theme.js
  nuse-frontend/styles/globals.css
Labels: frontend 🖼, web 💻

#38 Feature/10-login-web-logic
  nuse-frontend/.env
  nuse-frontend/package-lock.json
  nuse-frontend/package.json
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/redux/actions.js
  nuse-frontend/redux/reducer.js
  nuse-frontend/redux/saga.js
  nuse-frontend/redux/store.js
  nuse-frontend/src/components/layout/Header.js
  nuse-frontend/src/components/pages/login/LoginForm.js
  nuse-frontend/src/pages/_app.js
  nuse-frontend/src/pages/index.js
Labels: feature ✨, frontend 🖼, web 💻

#40 37-login-handle-errors-and-minor-improves
  nuse-frontend/.env
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/en/login.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/public/static/locales/pt/login.json
  nuse-frontend/redux/saga.js
  nuse-frontend/src/components/layout/Header.js
  nuse-frontend/src/components/layout/index.js
  nuse-frontend/src/components/pages/login/LoginForm.js
  nuse-frontend/src/components/util/A.js
  nuse-frontend/src/pages/_app.js
  nuse-frontend/src/pages/login.js
  nuse-frontend/styles/globals.css
Labels: frontend 🖼, web 💻

#44 AutoMapper was not mapped
  Nuse/.vs/Nuse/DesignTimeBuild/.dtbcache.v2
  Nuse/.vs/Nuse/v16/.suo
  Nuse/Core.Contracts/bin/Debug/netcoreapp3.1/Nuse.Core.Contracts.dll
  Nuse/Core.Contracts/bin/Debug/netcoreapp3.1/Nuse.Core.Contracts.pdb
  Nuse/Core.Contracts/obj/Core.Contracts.csproj.nuget.dgspec.json
  Nuse/Core.Contracts/obj/Debug/netcoreapp3.1/Core.Contracts.csprojAssemblyReference.cache
  Nuse/Core.Contracts/obj/Debug/netcoreapp3.1/Nuse.Core.Contracts.dll
  Nuse/Core.Contracts/obj/Debug/netcoreapp3.1/Nuse.Core.Contracts.pdb
  Nuse/Core.Contracts/obj/project.assets.json
  Nuse/Core.Contracts/obj/project.nuget.cache
  Nuse/Core.DTOs/bin/Debug/netcoreapp3.1/Nuse.Core.DTOs.dll
  Nuse/Core.DTOs/bin/Debug/netcoreapp3.1/Nuse.Core.DTOs.pdb
  Nuse/Core.DTOs/obj/Core.DTOs.csproj.nuget.dgspec.json
  Nuse/Core.DTOs/obj/Debug/netcoreapp3.1/Core.DTOs.csprojAssemblyReference.cache
  Nuse/Core.DTOs/obj/Debug/netcoreapp3.1/Nuse.Core.DTOs.dll
  Nuse/Core.DTOs/obj/Debug/netcoreapp3.1/Nuse.Core.DTOs.pdb
  Nuse/Core.DTOs/obj/project.assets.json
  Nuse/Core.DTOs/obj/project.nuget.cache
  Nuse/Core.Data/bin/Debug/netcoreapp3.1/Nuse.Core.Data.dll
  Nuse/Core.Data/bin/Debug/netcoreapp3.1/Nuse.Core.Data.pdb
  Nuse/Core.Data/obj/Core.Data.csproj.nuget.dgspec.json
  Nuse/Core.Data/obj/Debug/netcoreapp3.1/Core.Data.csprojAssemblyReference.cache
  Nuse/Core.Data/obj/Debug/netcoreapp3.1/Nuse.Core.Data.dll
  Nuse/Core.Data/obj/Debug/netcoreapp3.1/Nuse.Core.Data.pdb
  Nuse/Core.Data/obj/project.assets.json
  Nuse/Core.Data/obj/project.nuget.cache
  Nuse/Core/Areas/Customers/Commands/Handlers/GetAllCustomersHandler.cs
  Nuse/Core/Code/AutoMapper/AutoMapperSetup.cs
  Nuse/Core/Startup.cs
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.Contracts.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.Contracts.pdb
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.DTOs.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.DTOs.pdb
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.Data.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.Data.pdb
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.deps.json
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.pdb
  Nuse/Core/bin/Debug/net5.0/ref/Nuse.Core.dll
  Nuse/Core/obj/Core.csproj.nuget.dgspec.json
  Nuse/Core/obj/Debug/net5.0/Core.csproj.CoreCompileInputs.cache
  Nuse/Core/obj/Debug/net5.0/Core.csprojAssemblyReference.cache
  Nuse/Core/obj/Debug/net5.0/Nuse.Core.dll
  Nuse/Core/obj/Debug/net5.0/Nuse.Core.pdb
  Nuse/Core/obj/Debug/net5.0/ref/Nuse.Core.dll
  Nuse/Core/obj/project.assets.json
  Nuse/Core/obj/project.nuget.cache
Labels: backend 🔩, bug 🐛

#48 Added physical evaluation schema feature
  Nuse/.vs/Nuse/DesignTimeBuild/.dtbcache.v2
  Nuse/.vs/Nuse/v16/.suo
  Nuse/Core/Code/Database/NuseContext.cs
  Nuse/Core/Core.csproj
  Nuse/Core/Migrations/20201225000131_IntialCreate.Designer.cs
  Nuse/Core/Migrations/20201225000131_IntialCreate.cs
  Nuse/Core/Migrations/NuseContextModelSnapshot.cs
  Nuse/Core/Models/Customer.cs
  Nuse/Core/Models/Login.cs
  Nuse/Core/Models/Measurement.cs
  Nuse/Core/Models/User.cs
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.pdb
  Nuse/Core/bin/Debug/net5.0/ref/Nuse.Core.dll
  Nuse/Core/obj/Debug/net5.0/Core.csproj.CoreCompileInputs.cache
  Nuse/Core/obj/Debug/net5.0/Core.csprojAssemblyReference.cache
  Nuse/Core/obj/Debug/net5.0/Nuse.Core.dll
  Nuse/Core/obj/Debug/net5.0/Nuse.Core.pdb
  Nuse/Core/obj/Debug/net5.0/ref/Nuse.Core.dll
Labels: backend 🔩, feature ✨
