Repository nazevedo17/nuse-gym, pull requests merged in 2021-01, with the labels that each got.

#51 Feature/21 clients layout
  nuse-frontend/next.config.js
  nuse-frontend/package-lock.json
  nuse-frontend/package.json
  nuse-frontend/public/static/locales/en/clients.json
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/en/home.json
  nuse-frontend/public/static/locales/en/measurements.json
  nuse-frontend/public/static/locales/pt/clients.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/public/static/locales/pt/home.json
  nuse-frontend/public/static/locales/pt/measurements.json
  nuse-frontend/src/components/layout/Header.js
  nuse-frontend/src/components/layout/index.js
  nuse-frontend/src/components/pages/clients/AddClient.js
  nuse-frontend/src/components/pages/clients/ClientTable.js
  nuse-frontend/src/components/pages/clients/FindClient.js
  nuse-frontend/src/components/pages/clients/ModalConfirm.js
  nuse-frontend/src/components/pages/login/LoginForm.js
  nuse-frontend/src/pages/clients.js
  nuse-frontend/src/pages/index.js
  nuse-frontend/src/pages/login.js
  nuse-frontend/src/pages/measurements.js
  nuse-frontend/styles/globals.css
Labels: feature ✨, frontend 🖼

#54 handle gender
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/src/components/pages/clients/AddClient.js
  nuse-frontend/src/components/pages/clients/ClientTable.js
Labels: feature ✨, frontend 🖼, urgent ❕, web 💻

#55 Get Bmi from another API
  Nuse/.vs/Nuse/DesignTimeBuild/.dtbcache.v2
  Nuse/.vs/Nuse/v16/.suo
  Nuse/Core/Areas/Measurements/Commands/Handlers/AddMeasurementHandler.cs
  Nuse/Core/Code/Measurements/BMI.cs
  Nuse/Core/Code/Services/BmiService.cs
  Nuse/Core/Core.csproj
  Nuse/Core/bin/Debug/net5.0/Newtonsoft.Json.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.deps.json
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.dll
  Nuse/Core/bin/Debug/net5.0/Nuse.Core.pdb
  Nuse/Core/bin/Debug/net5.0/ref/Nuse.Core.dll
  Nuse/Core/obj/Core.csproj.nuget.dgspec.json
  Nuse/Core/obj/Debug/net5.0/Core.assets.cache
  Nuse/Core/obj/Debug/net5.0/Core.csproj.CoreCompileInputs.cache
  Nuse/Core/obj/Debug/net5.0/Core.csproj.FileListAbsolute.txt
  Nuse/Core/obj/Debug/net5.0/Core.csprojAssemblyReference.cache
  Nuse/Core/obj/Debug/net5.0/Nuse.Core.dll
  Nuse/Core/obj/Debug/net5.0/Nuse.Core.pdb
  Nuse/Core/obj/Debug/net5.0/ref/Nuse.Core.dll
  Nuse/Core/obj/project.assets.json
  Nuse/Core/obj/project.nuget.cache
Labels: backend 🔩, feature ✨

#57 Feature/22-clients-logic
  nuse-frontend/next.config.js
  nuse-frontend/package-lock.json
  nuse-frontend/package.json
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/en/customers.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/public/static/locales/pt/customers.json
  nuse-frontend/redux/actions.js
  nuse-frontend/redux/reducer.js
  nuse-frontend/redux/saga.js
  nuse-frontend/redux/store.js
  nuse-frontend/src/api/api.js
  nuse-frontend/src/components/layout/Header.js
  nuse-frontend/src/components/layout/index.js
  nuse-frontend/src/components/pages/clients/AddClient.js
  nuse-frontend/src/components/pages/clients/ClientTable.js
  nuse-frontend/src/components/pages/clients/FindClient.js
  nuse-frontend/src/components/pages/customers/CustomersTable.js
  nuse-frontend/src/components/pages/customers/FindCustomer.js
  nuse-frontend/src/components/pages/customers/HandleCustomer.js
  nuse-frontend/src/components/pages/customers/ModalConfirm.js
  nuse-frontend/src/components/pages/login/LoginForm.js
  nuse-frontend/src/pages/_app.js
  nuse-frontend/src/pages/clients.js
  nuse-frontend/src/pages/customers.js
  nuse-frontend/src/pages/login.js
  nuse-frontend/src/pages/measurements.js
Labels: feature ✨, frontend 🖼, web 💻

#58 Feature/19-measurements-web-layout
  nuse-frontend/public/static/locales/en/common.json
  nuse-frontend/public/static/locales/en/customers.json
  nuse-frontend/public/static/locales/en/measurements.json
  nuse-frontend/public/static/locales/pt/common.json
  nuse-frontend/public/static/locales/pt/customers.json
  nuse-frontend/public/static/locales/pt/measurements.json
  nuse-frontend/src/api/api.js
  nuse-frontend/src/components/pages/customers/CustomersTable.js
  nuse-frontend/src/components/pages/customers/HandleCustomer.js
  nuse-frontend/src/components/pages/measurements/FindMeasurement.js
  nuse-frontend/src/components/pages/measurements/HandleMeasurement.js
  nuse-frontend/src/components/pages/measurements/MeasurementsTable.js
  nuse-frontend/src/components/util/ModalConfirm.js
  nuse-frontend/src/pages/customers.js
  nuse-frontend/src/pages/measurements.js
Labels: feature ✨, frontend 🖼, web 💻

#62 Connection String Changed
  Nuse/.vs/Nuse/DesignTimeBuild/.dtbcache.v2
  Nuse/.vs/Nuse/v16/.suo
  Nuse/Core/appsettings.json
  Nuse/Core/bin/Debug/net5.0/appsettings.json
  Nuse/Core/obj/Debug/net5.0/Core.csprojAssemblyReference.cache
Labels: backend 🔩, feature ✨, urgent ❕
